###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> webpack-encore-bundle ###
/node_modules/
/public/build/
###< webpack-encore-bundle ###

###> phpunit-bridge ###
.phpunit.result.cache
###< phpunit-bridge ###

###> IDE ###
.idea/
.vscode/
*.swp
*.swo
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###

###> uploads ###
/public/uploads/*
!/public/uploads/.gitkeep
###< uploads ###

